<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Morse Code Decoder</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
		
		<!-- STYLE CSS -->
		<link rel="stylesheet" href="static/css/style.css">
	</head>

	<body>

		<div class="wrapper">
			<div class="inner">
				<form action="{{ url_for('morse') }}" method="POST">
					<h3>Morse Code Decoder</h3>
					<p>Enter the morse code to be decoded.</p>
					<label class="form-group">
						<input type="text" class="form-control" id="codes" name="codes" placeholder="Morse code to be converted">
						<span>Morse code to decode</span>
						<span class="border"></span>
					</label>
					<span class="form-group">Morse Code Decoded:</span>
					<h4>{{codes}}</h4>
					<button type="submit">Convert</button>
				</form>

			</div>
		</div>
		
	</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>